<div class="sidenav">
  <div class="sidenav-content">What is a polyrhythm etc etc.</div>
  <div class="sidenav-content">
    <p>Made with <span class="heart">&#10084;</span></p>
    <p>Tom Hanson &bull; York UK &bull; 2022</p>
    <p class="divider">
      <mat-divider></mat-divider>
    </p>
    <p>
      <a href="https://tom.onl" target="_blank">tom.onl</a> &bull;
      <a href="https://www.linkedin.com/in/tbhanson/" target="_blank"
        >LinkedIn</a
      >
    </p>
    <app-ko-fi-btn></app-ko-fi-btn>
  </div>
</div>
