<div class="input-container">
  <mat-icon *ngIf="icon" class="prefix-icon" [color]="color">{{
    icon
  }}</mat-icon>
  <div class="input-spinner-container">
    <input
      class="input-spinner"
      type="number"
      [min]="min"
      [style.color]="color"
      [ngModel]="value"
      (ngModelChange)="this.valueUpdate$.next($event)"
    />
  </div>
  <div class="input-spinner-buttons">
    <ng-container
      *ngTemplateOutlet="spinUpBtn; context: { increment: 1 }"
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="spinDownBtn; context: { increment: 1 }"
    ></ng-container>
  </div>
  <ng-container *ngIf="customIncrement">
    <mat-divider [vertical]="true"></mat-divider>
    <div class="input-spinner-buttons">
      <ng-container
        *ngTemplateOutlet="spinUpBtn; context: { increment: customIncrement }"
      ></ng-container>
      <ng-container
        *ngTemplateOutlet="spinDownBtn; context: { increment: customIncrement }"
      ></ng-container>
    </div>
  </ng-container>
</div>

<ng-template #spinUpBtn let-increment="increment">
  <button
    mat-icon-button
    aria-label="Increase value"
    (click)="spinUp(increment)"
  >
    <span [style.color]="color">+{{ increment }}</span>
  </button>
</ng-template>

<ng-template #spinDownBtn let-increment="increment">
  <button
    mat-icon-button
    aria-label="Decrease value"
    [disabled]="value - increment < min"
    (click)="spinDown(increment)"
  >
    <span [style.color]="color">-{{ increment }}</span>
  </button>
</ng-template>
