<mat-sidenav-container class="home" (click)="audioService.resumeContext()">
  <mat-sidenav
    role="region"
    position="end"
    mode="over"
    [opened]="sideNavService.isOpen"
    (closed)="sideNavService.close()"
  >
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content role="main">
    <app-toolbar></app-toolbar>
    <app-visualiser class="visualiser"></app-visualiser>
    <app-controls class="controls"></app-controls>
  </mat-sidenav-content>
</mat-sidenav-container>
