@use "@angular/material" as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Comfortaa", "Helvetica Neue", sans-serif;
}

.mat-typography {
  &,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  span,
  input {
    font-family: "Comfortaa", "Helvetica Neue", sans-serif;
  }
}

.mat-divider.mat-divider-vertical {
  height: 4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
